@model EasyPark.EasyPark.Domain.Responses.VitrineServicos;
@{
    ViewData["Title"] = "Resultado da pesquisa";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


<div class="row">
    <div class="col-md-12">
        @if (Model.BuscaQuantidadeRegistro == 0)
        {
            <h2 class="text-center">Resultado da sua busca</h2>
            <p>Não foi localizado nem um resultado para o termo @ViewBag.Pesquisa</p>
        }
        else
        {
            <h2 class="text-center">Resultado da sua busca</h2>
            <p>Foram localizados @Model.BuscaQuantidadeRegistro registros para o termo pesquisado.</p>


            @foreach (var servico in Model.VitrinePrestadoresServicos)
            {
                <h3>@servico.NomePrestador</h3>
                <p class="text-justify">
                    Nome do serviço prestado: @servico.NomeServico.
                    <br />Endereço: @servico.Endereco - @servico.Estado.
                    <br />Horário de funcionamento: @servico.HorarioFuncionamento
                    <br />Telefone: @servico.TelefonePrestador
                    <br />Empresa / grupo responsável: @servico.NomeResponsavel.
                </p>
                <br />
            }

            @foreach (var estacionamento in Model.VitrineEstacionamento)
            {
                <br />
                <h3>@estacionamento.NomeEstacionamento</h3>
                <div class="text-justify">
                    Endereço de atuação: @estacionamento.Endereco - @estacionamento.NomeEstado.
                    <br />Horário de funcionamento: @estacionamento.HorarioFuncionamento.
                    <br />Telefone: @estacionamento.Telefone
                    <br />Quantidade de Vagas:
                    <br />Totais de vagas disponíveis: @estacionamento.TotaisVagas.
                    <br />Vagas para carros elétricos: @estacionamento.VagasEletricas.
                    <br />Vagas preferenciais: @estacionamento.VagasPreferenciais.
                    <br />Vagas comuns: @estacionamento.VagasComuns.
                    <br />Empresa / grupo responsável: @estacionamento.NomeResponsavel.
                </div>
            }
        }
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="text-justify">Esses foram os resultados obtidos através da sua pesquisa.        
        <br /> Caso o resultado não tenha sido o esperado, você poderá retornar e reaplicar o filtro de acordo com os termos da sua pesquisa.
        </div>
        <button onclick="history.back(-1)" class="btn btn-primary container col-1">Voltar</button>
    </div>
</div>