@model EasyPark.EasyPark.Domain.Responses.VitrineServicos;
@{
    ViewData["Title"] = "Home principal do Cliente";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Área principal do cliente</h2>
        <p class="text-justify">
            Aqui você poderá consultar todos os serviços que a Easypark oferece para você!
            <br />
            Pintou uma urgência aí ou precisa de um bom local para deixar seu veículo, conte com a gente!
            <br />
            Temos diverços parceiros por todo território nacional que utilizam nossa ferramenta para divulgar seus serviços bem como estacionamentos por vários pontos com localização facilitada. E claro, sempre perto de você!
        </p>
        <p class="text-justify">Se você também quer ser uns de nossos parceiros, saiba que também é possível!</p>
        <p class="text-justify">
            Confira os últimos serviços que temos cadastrados no sistema. <strong>Observação, aqui será listados apenas os primeiros serviços!</strong><br />
            Para conferir mais serviços disponíveis, expande o menu e escolha a opção referente.
        </p>
        <br />
        <p class="display-4">Últimos serviços cadastrados</p>
        @if (Model.VitrineEstacionamento.Count() == 0 & Model.VitrinePrestadoresServicos.Count == 0)
        {

            <p class="text-justify">
                Ops! ainda não há serviços cadastrados por aqui.<br />
                Continue sempre consultando pois estamos em constante atualização!
            </p>
        }

        @if (Model.VitrinePrestadoresServicos.Count() != 0)
        {

            @foreach (var servico in Model.VitrinePrestadoresServicos)
            {
                <br />
                <h3>@servico.NomePrestador</h3>
                <div class="text-justify">
                    Nome do serviço prestado: @servico.NomeServico.
                    <br />Endereço: @servico.Endereco - @servico.Estado.
                    <br />Horário de funcionamento: @servico.HorarioFuncionamento
                    <br />Telefone: @servico.TelefonePrestador
                    <br />Empresa / grupo responsável: @servico.NomeResponsavel.
                </div>
                <br />
            }
        }

        @if (Model.VitrineEstacionamento.Count() != 0)
        {

            @foreach (var estacionamento in Model.VitrineEstacionamento)
            {
                <br />
                <h3>@estacionamento.NomeEstacionamento</h3>
                <div class="text-justify">
                    Endereço de atuação: @estacionamento.Endereco - @estacionamento.NomeEstado.
                    <br />Horário de funcionamento: @estacionamento.HorarioFuncionamento.
                    <br />Telefone: @estacionamento.Telefone
                    <br />Quantidade de Vagas:
                    <br />Totais de vagas disponíveis: @estacionamento.TotaisVagas.
                    <br />Vagas para carros elétricos: @estacionamento.VagasEletricas.
                    <br />Vagas preferenciais: @estacionamento.VagasPreferenciais.
                    <br />Vagas comuns: @estacionamento.VagasComuns.
                    <br />Empresa / grupo responsável: @estacionamento.NomeResponsavel.
                </div>
            }

        }
    </div>
</div>