@model EasyPark.EasyPark.Domain.Responses.VitrineServicos;
@{
    ViewData["Title"] = "Home principal do Cliente";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2>Área principal do cliente</h2>
        <p class="text-justify">
            Aqui você poderá consultar todos os serviços que a Easy Park oferece para você!
            <br />
            Pintou uma urgência aí ou precisa de um bom local para deixar seu veículo, conte com a gente!
            <br />
            Temos diverços parceiros por todo território nacional que utilizam nossa ferramenta para divulgar seus serviços bem como estacionamentos por vários pontos com localização facilitada. E claro, sempre perto de você!
        </p>
        <p class="text-justify">Se você também quer ser uns de nossos parceiros, saiba que também é possível!</p>
        <p class="text-justify">Confira os últimos serviços que temos cadastrados no sistema. <strong>Observação, aqui será listados apenas os primeiros serviços!</strong><br />
            Para conferir mais serviços disponíveis, expande o menu e escolha a opção referente.
        </p>
        <br />
        <h2 class="display-2">ùltimos serviços cadastrados</h2>
        @if (Model.VitrineEstacionamento.Count() == 0 & Model.VitrinePrestadoresServicos.Count==0)
                {
             
            <p class="text-justify">
                Ops! ainda não há serviços cadastrados por aqui.<br />
                Continue sempre consultando pois estamos em constante atualização!
            </p>
        }

        @if (Model.VitrinePrestadoresServicos.Count() != 0)
        {

            @foreach (var servico in Model.VitrinePrestadoresServicos)
            {
                <br />
                <h2>@servico.NomePrestador</h2>
                <p class="text-justify">Nome do serviço prestado: @servico.NomeServico.</p>
                <p class="text-justify">Endereço:: @servico.Endereco - @servico.Estado.</p>
                <p class="text-justify">Horário de funcionamento: @servico.HorarioFuncionamento</p>
                <p class="text-justify">Telefone: @servico.TelefonePrestador</p>
                <p class="text-justify">Empresa / grupo responsável: @servico.NomeResponsavel.</p>
            }


        }

        @if (Model.VitrineEstacionamento.Count() != 0)
        {

            @foreach (var estacionamento in Model.VitrineEstacionamento)
            {
                <br />
                <h2>@estacionamento.NomeEstacionamento</h2>
                <p class="text-justify">Endereço de atuação: @estacionamento.Endereco - @estacionamento.NomeEstado.</p>
                <p class="text-justify">Horário de funcionamento: @estacionamento.HorarioFuncionamento.</p>
                <p class="text-justify">Telefone: @estacionamento.Telefone</p>
                <p class="text-justify">Totais de vagas disponíveis: @estacionamento.TotaisVagas.</p>
                <p class="text-justify">Vagas para carros elétricos: @estacionamento.VagasEletricas.</p>
                <p class="text-justify">Vagas preferenciais: @estacionamento.VagasPreferenciais.</p>
                <p class="text-justify">Vagas comuns: @estacionamento.VagasComuns.</p>
                <p class="text-justify">Empresa / grupo responsável: @estacionamento.NomeResponsavel.</p>
            }

        }
    </div>

</div>