@model EasyPark.EasyPark.Domain.Responses.VitrineServicos;
@{
    ViewData["Title"] = "Serviços geral";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Serviços disponíveis</h2>
        <p class="text-justify">
            Aqui você terá acesso a todos os serviços cadastrados no sistema. <br />
            Confira a listagem dos serviços prestados abaixo.
        </p>
        @if (Model.VitrineEstacionamento.Count() == 0 & Model.VitrinePrestadoresServicos.Count == 0)
        {

            <p class="text-justify">
                Ops! ainda não há serviços cadastrados por aqui.<br />
                Continue sempre consultando pois estamos em constante atualização!
            </p>
        }

        @if (Model.VitrinePrestadoresServicos.Count() != 0)
        {

            @foreach (var servico in Model.VitrinePrestadoresServicos)
            {
                <h3>@servico.NomePrestador</h3>
                <p class="text-justify">
                    Nome do serviço prestado: @servico.NomeServico.
                    <br />Endereço: @servico.Endereco - @servico.Estado.
                    <br />Horário de funcionamento: @servico.HorarioFuncionamento
                    <br />Telefone: @servico.TelefonePrestador
                    <br />Empresa / grupo responsável: @servico.NomeResponsavel.
                </p>
                <br />
            }

        }

        @if (Model.VitrineEstacionamento.Count() != 0)
        {

            @foreach (var estacionamento in Model.VitrineEstacionamento)
            {
                <br />
                <h3>@estacionamento.NomeEstacionamento</h3>
                <div class="text-justify">
                    Endereço de atuação: @estacionamento.Endereco - @estacionamento.NomeEstado.
                    <br />Horário de funcionamento: @estacionamento.HorarioFuncionamento.
                    <br />Telefone: @estacionamento.Telefone
                    <br />Quantidade de Vagas:
                    <br />Totais de vagas disponíveis: @estacionamento.TotaisVagas.
                    <br />Vagas para carros elétricos: @estacionamento.VagasEletricas.
                    <br />Vagas preferenciais: @estacionamento.VagasPreferenciais.
                    <br />Vagas comuns: @estacionamento.VagasComuns.
                    <br />Empresa / grupo responsável: @estacionamento.NomeResponsavel.
                </div>
            }

        }
    </div>
</div>