@model Easypark.Models.Vaga

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vaga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoVaga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoVaga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preenchido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preenchido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.codVaga">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
