@model List<EasyPark.EasyPark.Domain.Responses.EstacionamentoResponse>;
@{
    ViewData["Title"] = "Estacionamentos cadastrados";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Gerenciar estacionamentos cadastrados</h2>
        @if (Model.Count() == 0)
        {
            <p class="text-justify">Ainda não há estacionamentos cadastrados</p>
            <br />
            <a asp-action="CadastrarEstacionamento" class="btn btn-primary" role="button">Cadastrar estacionamento</a>
        }

        @if (Model.Count() > 0)
        {
            <p class="text-justify">
                Gerencie os estacionamentos que estão sobre sua gestão.
                <br />Há @Model.Count() estacionamentos atrelados ao seu perfil.
            </p>
            <br />
            @foreach (var estacionamento in Model)
            {
                <br />
                <h3>@estacionamento.NomeEstacionamento</h3>
                <div class="text-justify">
                    Endereço: @estacionamento.Endereco - @estacionamento.NomeEstado.
                    <br />Horário de funcionamento: @estacionamento.HorarioFuncionamento.
                    <br />Telefone: @estacionamento.Telefone.
                    <br /><strong>Total de vagas:</strong>
                    <br />Capacidade máxima de vagas: @estacionamento.TotaisVagas.
                    <br />Quantidade de vagas para carros elétricos: @estacionamento.VagasEletricas.
                    <br />Quantidade de vagas preferenciais: @estacionamento.VagasPreferenciais.
                    <br />Quantidade de vagas comuns: @estacionamento.VagasComuns.
                </div>
                <br />
                <a asp-action="RemoverEstacionamento" asp-route-id="@estacionamento.EstacionamentoId" class="btn btn-secondary" role="button" title="@estacionamento.NomeEstacionamento">Remover estacionamento</a>
                <a asp-action="AtualizarEstacionamento" asp-route-id="@estacionamento.EstacionamentoId" class="btn btn-primary" role="button" title="@estacionamento.NomeEstacionamento">Atualizar estacionamento</a>
                <br />
            }
        }
    </div>
</div>
