@model Easypark.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Você tem certesa que quer deletar esse usuário?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoCarro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoCarro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modeloCarro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modeloCarro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.placaCarro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.placaCarro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="cliente_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
