@model IEnumerable<Easypark.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoCarro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modeloCarro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.placaCarro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modeloCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placaCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cliente_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cliente_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cliente_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
